---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h2>My personal site.</h2>

  <footer class="mt-8 justify-end flex flex-col gap-2">
    <div>
      Links:
      <a href="https://www.github.com/selfint">GitHub</a>,
      <a href="https://www.linkedin.com/in/selfint">LinkedIn</a>
    </div>
  </footer>
</BaseLayout>
