---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  Not yet added, please reach out to me at
  <a href="mailto:selfint@github.com">selfint@github.com</a>.
</BaseLayout>
