---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Resume">
  Please reach out to me at
  <a href="mailto:selfint@gmail.com">selfint@gmail.com</a>.
</BaseLayout>
