---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <article class="prose m-1 mt-4 p-1 dark:prose-invert">
    <h1 class="fix">
      {frontmatter.title}
    </h1>
    <p class="fix">
      Published {frontmatter.pubDate.slice(0, 10)}
    </p>
    <em>
      {frontmatter.description}
    </em>
    <slot />
  </article>
</BaseLayout>

<style>
  .fix {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
  }
</style>
